body {
  font-family: Arial, sans-serif;
  background-color: #f9f9f9;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 2px solid #ccc;
  padding-bottom: 10px;
}

.form-container {
  height: auto;
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  padding: 20px 55px 38px 40px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 250px;
}

.form-container h2,h3 {
  text-align: center;
  margin-bottom: 20px;
}

.form-container label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
}

.form-container input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 14px;
}

div {
  margin-top: 20px;
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
  background-color: #ffffff;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
}

th, td {
  border: 1px solid #ddd;
  padding: 12px;
  text-align: center;
}

.nouvel-eleve {
  display: block;
  margin: 20px auto 0;
  text-align: center;
  color: #007BFF;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
}

.nouvel-eleve:hover {
  text-decoration: underline;
}

.etudiant_inscrit {
  background-color: #4FAF62;
  color: white;
}
.etudiant_EnCoursInscription {
  background-color: #D7B159;
  color: white;
}
.etudiant_refus {
  background-color: #D75959;
  color: white;
}

th {
  background-color: #007BFF;
  color: white;
}

button {
  background-color: #007BFF;
  padding: 10px;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

tr button {
  padding: 8px 15px;
  background-color: #28a745;
}

.form-container button {
  background-color: #007BFF;
  width: 100%;
}

.deleteButton {
  background-color: #F32020;
}

.modifButton{
  background-color: #ACCB7D;
}

.bouton-accepter {
  background-color: #28a745;
}

.bouton-refuser {
  background-color: #D75959;
}

.form-container button:hover {
  background-color: #0056b3;
}
